<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>¿Has olvidado tu contraseña?</h3>
    <p>Te enviaremos instrucciones para que la puedas restablecer.</p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email, 'Correo electrónico' %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit 'Restablecer contraseña', :class => 'button right' %>
  <% end %>
</div>
