<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="course-page-title">
          <h2 class="page-title"><%= @course_details.name %></h2>
          <h3 class="page-subtitle">Con <%= @course_details.instructor %></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="course-page-content">
          <script type="text/javascript" src="//cdn.sublimevideo.net/js/fw7i9go9.js"></script>
          <video id="0" class="sublime" data-settings="autoresize:fit;" width="640" height="360" title="Presentación curso introducción al passivhaus" data-uid="0" preload="none">
            <source src="https://s3-eu-west-1.amazonaws.com/edificapro/c01/c01c00_presentacion_hd.mp4" data-quality="hd" />
            <source src="https://s3-eu-west-1.amazonaws.com/edificapro/c01/c01c00_presentacion_sd.mp4" />
          </video>
          <div class="course-description">
            <p><%= @course_details.description %></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="course-page-side-content">
          <% if defined? @user_purchase %>
            <% if @user_purchase.where(:course_id => '1').blank? %>
              <% link_text1 = "Comprar el curso: " + (@course_details.price/100).to_s + " €"%>
              <div class="course-page-buy">
                <%= link_to(link_text1, {:controller => '/purchases', :action => 'new', :id => @course_details.id }) %>
              </div>
            <% else %>
              <div class="course-page-purchased">
                <%= link_to("Ir al curso", {:controller => '/c01', :action => 'contexto'}, class: "purchased-button") %>
              </div>
            <% end %>
          <% else %>
            <% link_text2 = "Precio del curso: " + (@course_details.price/100).to_s + " €" %>
            <div class="course-page-buy">
              <%= link_to(link_text2, new_user_registration_path) %>
            </div>
            <p class="purchase-bottom-text"><%= link_to("Regístrate", new_user_registration_path) %> o <%= link_to "inicia sesión", new_user_session_path %> para poder comprar el curso.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

