<nav class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3 hidden-xs">
        <%= link_to( image_tag('logo_edificapro.svg', :alt => 'Logo EdificaPRO', :class => 'logo-edificapro'), {:controller => '/visitors', :action => 'index'}) %>
      </div>
      <div class="col-md-3 visible-xs">
        <%= link_to( image_tag('logo_edificapro.svg', :alt => 'Logo EdificaPRO'), {:controller => '/visitors', :action => 'index'}) %>
      </div>
      <div class="col-sm-9 col-md-9">
        <div class="sessionbar pull-right">
          <ul class="menu-navigation">
            <li><%= link_to("CURSOS", {:controller => '/library', :action => 'index'}, :class => 'sessionbar-link') %></li>
            <li><div class="separator"></div></li>
            <% if user_signed_in? %>
              <li><strong><%= current_user.email %></strong></li>
              <li><%= link_to 'CONFIGURACIÓN', edit_user_registration_path, :class => 'sessionbar-link'%></li>
              <li><div class="separator"></div></li>
              <li><%= link_to "CERRAR SESIÓN", destroy_user_session_path, method: :delete, :class => 'sessionbar-link' %></li>
            <% else %>
              <li><%= link_to "REGISTRARSE", new_user_registration_path, :class => 'sessionbar-link'  %></li>
              <li><div class="separator"></div></li>
              <li><%= link_to "INICIAR SESIÓN", new_user_session_path, :class => 'sessionbar-link'  %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
